{
  "extends": [
    "xo",
    "prettier",
    "plugin:react/recommended"
  ],
  "env": {
    "react-native/react-native": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "prettier"
  ]
}
